<div class="container">
  <h2 id="menu-categories-title" >My Info  Page</h2>
  <!-- <div class="text-center"> -->


<span
  ng-if="regCtrl.getRegInfo().firstName === ''" >
  <br/>
  Not Signed Up Yet.
  <a ui-sref="public.signup">
 Sign up Now!</a>
</span>

  <span ng-if="regCtrl.getRegInfo().firstName != ''" >
  <br/>

  First Name :   {{ regCtrl.getRegInfo().firstName }}    <br/>
  Last Name :   {{ regCtrl.getRegInfo().lastName }}   <br/>
  Email :   {{ regCtrl.getRegInfo().email }}    <br/>
  Phone :   {{ regCtrl.getRegInfo().phone }}    <br/>
  Favorite Menu Item Number :    {{ regCtrl.getRegInfo().phone }}     <br/>
  <!-- Favorite Menu Item Title :  {{ regCtrl.menuitem.title }} <br/>
  Favorite Menu Item Description :  {{ regCtrl.menuitem.description }} <br/>
  Favorite Menu Item Photo :  {{ regCtrl.menuitem.photo }} -->
</span>


<br/><br/>



</div>
